In [1]:
import faker
import pyodbc
import datetime
import gc
import random

SQL_DRIVER = r"DRIVER={{Microsoft Access Driver (*.mdb, *.accdb)}};DBQ={path};"
DB_FILE="C:/Users/Student/Documents/DBMS FINAL PROJECT.accdb"

In [52]:
conn = SQL_DRIVER.format(path = DB_FILE)
db = pyodbc.connect(conn, autocommit = False)

test_query = """
    SELECT TOP 5 * FROM order_details;
"""

cursor = db.cursor()
result = cursor.execute(test_query).fetchall()
print(f"result: {result}")

result: [(1, 1, 109), (2, 2, 108), (3, 2, 124), (4, 2, 117), (5, 2, 129)]

In [53]:
get_menu_items_query = """
    SELECT menu_item_id, item_name, price FROM menu_items;
"""

menu_items = {item[0] : (item[1], item[2]) for item in cursor.execute(get_menu_items_query).fetchall()}
print(menu_items)

{101: ('Hamburger', Decimal('12.9500')), 102: ('Cheeseburger', Decimal('13.9500')), 103: ('Hot Dog', Decimal('9.0000')), 104: ('Veggie Burger', Decimal('10.5000')), 105: ('Mac & Cheese', Decimal('7.0000')), 106: ('French Fries', Decimal('7.0000')), 107: ('Orange Chicken', Decimal('16.5000')), 108: ('Tofu Pad Thai', Decimal('14.5000')), 109: ('Korean Beef Bowl', Decimal('17.9500')), 110: ('Pork Ramen', Decimal('17.9500')), 111: ('California Roll', Decimal('11.9500')), 112: ('Salmon Roll', Decimal('14.9500')), 113: ('Edamame', Decimal('5.0000')), 114: ('Potstickers', Decimal('9.0000')), 115: ('Chicken Tacos', Decimal('11.9500')), 116: ('Steak Tacos', Decimal('13.9500')), 117: ('Chicken Burrito', Decimal('12.9500')), 118: ('Steak Burrito', Decimal('14.9500')), 119: ('Chicken Torta', Decimal('11.9500')), 120: ('Steak Torta', Decimal('13.9500')), 121: ('Cheese Quesadillas', Decimal('10.5000')), 122: ('Chips & Salsa', Decimal('7.0000')), 123: ('Chips & Guacamole', Decimal('9.0000')), 124: ('Spaghetti', Decimal('14.5000')), 125: ('Spaghetti & Meatballs', Decimal('17.9500')), 126: ('Fettuccine Alfredo', Decimal('14.5000')), 127: ('Meat Lasagna', Decimal('17.9500')), 128: ('Cheese Lasagna', Decimal('15.5000')), 129: ('Mushroom Ravioli', Decimal('15.5000')), 130: ('Shrimp Scampi', Decimal('19.9500')), 131: ('Chicken Parmesan', Decimal('17.9500')), 132: ('Eggplant Parmesan', Decimal('16.9500'))}

In [54]:
get_last_order_details_id_query = """
    SELECT TOP 1 order_details_id, order_id FROM order_details ORDER BY order_details_id DESC;
"""

last_order_details_id, last_order_id = cursor.execute(get_last_order_details_id_query).fetchone()
print(f"last order details id: {last_order_details_id}")
print(f"last order id: {last_order_id}")

last order details id: 12234
last order id: 5370

In [59]:
print(cursor.execute(""" SELECT order_date, order_time FROM orders WHERE order_id = 40""").fetchone())

(datetime.datetime(2023, 1, 1, 0, 0), datetime.datetime(1899, 12, 30, 17, 14, 36))

In [ ]:
fkr = faker.Faker()
menu_item_ids = set(key for key in menu_items.keys())

orders = []
for _ in range(100_000):  # Generate 100000 fake orders
    order_date = fkr.date_time_between_dates(datetime.datetime(2023, 4, 1), datetime.datetime.now())
    order_time = datetime.datetime.strptime(fkr.time(), "%H:%M:%S").strftime("%H:%M:%S %p")
    orders.append((order_date, order_time))

orders.sort()
print(orders[0])

(datetime.datetime(2023, 4, 1, 0, 4, 28), '14:26:44 PM')

In [ ]:
# Insert 100000 rows into the table
for order in orders:
    cursor.execute("INSERT INTO orders (order_date, order_time) VALUES (?, ?)", (order[0], order[1]))

cursor.execute("SELECT TOP 100 * FROM orders ORDER BY order_id DESC")  # Adjust the ORDER BY clause as needed
inserted_rows = cursor.fetchall()

    # Display the inserted rows
print("Inserted rows before commit:")
for row in inserted_rows:
    print(row)

In [90]:
current_order_id = last_order_id + 1
order_details = []
current_order_details_id = last_order_details_id + 1
for order in orders:
    for _ in range(random.randint(1, 10)):
        menu_item_id = fkr.random_int(min=101, max=132)
        order_details.append((current_order_details_id, current_order_id, menu_item_id))
        current_order_details_id += 1
    current_order_id += 1

In [ ]:
print(f"order details count: {len(order_details)}")
for i in range(1000):
    print(order_details[i])

In [ ]:
for order_detail in order_details:
    cursor.execute("INSERT INTO order_details (order_details_id, order_id, menu_item_id) VALUES (?, ?, ?)", order_detail)

Inserted order rows before commit:
(105370, datetime.datetime(2024, 11, 26, 18, 57, 23), datetime.datetime(1899, 12, 30, 7, 37, 13))
(105369, datetime.datetime(2024, 11, 26, 18, 44, 48), datetime.datetime(1899, 12, 30, 20, 36, 7))
(105368, datetime.datetime(2024, 11, 26, 18, 38, 34), datetime.datetime(1899, 12, 30, 14, 55, 38))
(105367, datetime.datetime(2024, 11, 26, 18, 36, 28), datetime.datetime(1899, 12, 30, 2, 20, 44))
(105366, datetime.datetime(2024, 11, 26, 18, 32, 29), datetime.datetime(1899, 12, 30, 4, 38, 29))
(105365, datetime.datetime(2024, 11, 26, 18, 31, 28), datetime.datetime(1899, 12, 30, 0, 32, 50))
(105364, datetime.datetime(2024, 11, 26, 18, 30, 45), datetime.datetime(1899, 12, 30, 8, 22, 20))
(105363, datetime.datetime(2024, 11, 26, 18, 21, 1), datetime.datetime(1899, 12, 30, 15, 36, 53))
(105362, datetime.datetime(2024, 11, 26, 18, 1, 19), datetime.datetime(1899, 12, 30, 18, 35, 25))
(105361, datetime.datetime(2024, 11, 26, 17, 58, 32), datetime.datetime(1899, 12, 30, 16, 14, 25))
(105360, datetime.datetime(2024, 11, 26, 17, 32, 42), datetime.datetime(1899, 12, 30, 17, 39, 30))
(105359, datetime.datetime(2024, 11, 26, 17, 23, 38), datetime.datetime(1899, 12, 30, 16, 55, 45))
(105358, datetime.datetime(2024, 11, 26, 17, 13, 42), datetime.datetime(1899, 12, 30, 23, 20, 29))
(105357, datetime.datetime(2024, 11, 26, 17, 8, 32), datetime.datetime(1899, 12, 30, 20, 47, 10))
(105356, datetime.datetime(2024, 11, 26, 16, 47, 13), datetime.datetime(1899, 12, 30, 8, 29, 19))
(105355, datetime.datetime(2024, 11, 26, 16, 24, 48), datetime.datetime(1899, 12, 30, 12, 55, 53))
(105354, datetime.datetime(2024, 11, 26, 16, 22, 30), datetime.datetime(1899, 12, 30, 8, 5, 59))
(105353, datetime.datetime(2024, 11, 26, 16, 14, 14), datetime.datetime(1899, 12, 30, 17, 45, 50))
(105352, datetime.datetime(2024, 11, 26, 15, 59, 50), datetime.datetime(1899, 12, 30, 12, 43, 15))
(105351, datetime.datetime(2024, 11, 26, 15, 54, 46), datetime.datetime(1899, 12, 30, 17, 5, 12))
(105350, datetime.datetime(2024, 11, 26, 15, 41, 55), datetime.datetime(1899, 12, 30, 11, 9, 20))
(105349, datetime.datetime(2024, 11, 26, 15, 40, 40), datetime.datetime(1899, 12, 30, 8, 43, 47))
(105348, datetime.datetime(2024, 11, 26, 15, 35, 14), datetime.datetime(1899, 12, 30, 23, 8, 18))
(105347, datetime.datetime(2024, 11, 26, 15, 19, 55), datetime.datetime(1899, 12, 30, 9, 2, 21))
(105346, datetime.datetime(2024, 11, 26, 14, 41, 16), datetime.datetime(1899, 12, 30, 23, 16, 30))
(105345, datetime.datetime(2024, 11, 26, 14, 33, 46), datetime.datetime(1899, 12, 30, 6, 24, 58))
(105344, datetime.datetime(2024, 11, 26, 14, 19, 32), datetime.datetime(1899, 12, 30, 8, 5, 50))
(105343, datetime.datetime(2024, 11, 26, 14, 10, 54), datetime.datetime(1899, 12, 30, 1, 49, 37))
(105342, datetime.datetime(2024, 11, 26, 14, 3, 6), datetime.datetime(1899, 12, 30, 3, 15, 9))
(105341, datetime.datetime(2024, 11, 26, 13, 58, 49), datetime.datetime(1899, 12, 30, 15, 29, 55))
(105340, datetime.datetime(2024, 11, 26, 13, 56, 22), datetime.datetime(1899, 12, 30, 7, 51, 54))
(105339, datetime.datetime(2024, 11, 26, 13, 47, 20), datetime.datetime(1899, 12, 30, 13, 16, 34))
(105338, datetime.datetime(2024, 11, 26, 13, 34, 33), datetime.datetime(1899, 12, 30, 9, 46, 7))
(105337, datetime.datetime(2024, 11, 26, 13, 33, 59), datetime.datetime(1899, 12, 30, 2, 34, 12))
(105336, datetime.datetime(2024, 11, 26, 13, 32, 2), datetime.datetime(1899, 12, 30, 18, 11, 19))
(105335, datetime.datetime(2024, 11, 26, 13, 16, 41), datetime.datetime(1899, 12, 30, 9, 22, 41))
(105334, datetime.datetime(2024, 11, 26, 13, 12, 23), datetime.datetime(1899, 12, 30, 19, 8, 3))
(105333, datetime.datetime(2024, 11, 26, 12, 46, 14), datetime.datetime(1899, 12, 30, 12, 20, 33))
(105332, datetime.datetime(2024, 11, 26, 12, 40, 12), datetime.datetime(1899, 12, 30, 14, 9, 1))
(105331, datetime.datetime(2024, 11, 26, 12, 29, 55), datetime.datetime(1899, 12, 30, 14, 33, 45))
(105330, datetime.datetime(2024, 11, 26, 12, 16, 8), datetime.datetime(1899, 12, 30, 22, 43, 34))
(105329, datetime.datetime(2024, 11, 26, 11, 57, 24), datetime.datetime(1899, 12, 30, 10, 50, 7))
(105328, datetime.datetime(2024, 11, 26, 11, 51, 43), datetime.datetime(1899, 12, 30, 9, 36, 3))
(105327, datetime.datetime(2024, 11, 26, 11, 33, 32), datetime.datetime(1899, 12, 30, 1, 53, 6))
(105326, datetime.datetime(2024, 11, 26, 11, 27, 3), datetime.datetime(1899, 12, 30, 22, 26, 15))
(105325, datetime.datetime(2024, 11, 26, 11, 22, 35), datetime.datetime(1899, 12, 30, 5, 28, 13))
(105324, datetime.datetime(2024, 11, 26, 11, 21, 2), datetime.datetime(1899, 12, 30, 1, 10, 11))
(105323, datetime.datetime(2024, 11, 26, 11, 9, 58), datetime.datetime(1899, 12, 30, 4, 34, 22))
(105322, datetime.datetime(2024, 11, 26, 11, 7, 8), datetime.datetime(1899, 12, 30, 21, 32, 49))
(105321, datetime.datetime(2024, 11, 26, 11, 6, 51), datetime.datetime(1899, 12, 30, 1, 52, 26))
(105320, datetime.datetime(2024, 11, 26, 11, 5, 22), datetime.datetime(1899, 12, 30, 10, 35, 5))
(105319, datetime.datetime(2024, 11, 26, 10, 52, 4), datetime.datetime(1899, 12, 30, 4, 53, 7))
(105318, datetime.datetime(2024, 11, 26, 10, 51, 30), datetime.datetime(1899, 12, 30, 8, 7, 36))
(105317, datetime.datetime(2024, 11, 26, 10, 41, 31), datetime.datetime(1899, 12, 30, 22, 36, 23))
(105316, datetime.datetime(2024, 11, 26, 10, 32, 58), datetime.datetime(1899, 12, 30, 0, 12, 4))
(105315, datetime.datetime(2024, 11, 26, 10, 18, 29), datetime.datetime(1899, 12, 30, 17, 27, 38))
(105314, datetime.datetime(2024, 11, 26, 10, 8, 15), datetime.datetime(1899, 12, 30, 2, 35, 38))
(105313, datetime.datetime(2024, 11, 26, 10, 2, 47), datetime.datetime(1899, 12, 30, 20, 11, 41))
(105312, datetime.datetime(2024, 11, 26, 9, 52, 37), datetime.datetime(1899, 12, 30, 19, 2, 3))
(105311, datetime.datetime(2024, 11, 26, 9, 41, 8), datetime.datetime(1899, 12, 30, 23, 0, 8))
(105310, datetime.datetime(2024, 11, 26, 9, 40, 34), datetime.datetime(1899, 12, 30, 14, 39, 22))
(105309, datetime.datetime(2024, 11, 26, 9, 27, 2), datetime.datetime(1899, 12, 30, 11, 58, 16))
(105308, datetime.datetime(2024, 11, 26, 9, 23, 59), datetime.datetime(1899, 12, 30, 21, 32, 46))
(105307, datetime.datetime(2024, 11, 26, 9, 19, 18), datetime.datetime(1899, 12, 30, 19, 29, 23))
(105306, datetime.datetime(2024, 11, 26, 8, 39, 42), datetime.datetime(1899, 12, 30, 20, 18, 48))
(105305, datetime.datetime(2024, 11, 26, 8, 26, 43), datetime.datetime(1899, 12, 30, 8, 20, 41))
(105304, datetime.datetime(2024, 11, 26, 8, 18, 12), datetime.datetime(1899, 12, 30, 7, 6, 53))
(105303, datetime.datetime(2024, 11, 26, 8, 9), datetime.datetime(1899, 12, 30, 23, 1, 7))
(105302, datetime.datetime(2024, 11, 26, 7, 59, 4), datetime.datetime(1899, 12, 30, 10, 32, 49))
(105301, datetime.datetime(2024, 11, 26, 7, 42, 51), datetime.datetime(1899, 12, 30, 4, 50, 45))
(105300, datetime.datetime(2024, 11, 26, 7, 37, 39), datetime.datetime(1899, 12, 30, 12, 29, 50))
(105299, datetime.datetime(2024, 11, 26, 7, 37, 4), datetime.datetime(1899, 12, 30, 4, 33, 35))
(105298, datetime.datetime(2024, 11, 26, 7, 2, 38), datetime.datetime(1899, 12, 30, 23, 45, 55))
(105297, datetime.datetime(2024, 11, 26, 6, 52, 45), datetime.datetime(1899, 12, 30, 15, 31, 35))
(105296, datetime.datetime(2024, 11, 26, 6, 47, 16), datetime.datetime(1899, 12, 30, 10, 27, 17))
(105295, datetime.datetime(2024, 11, 26, 6, 43), datetime.datetime(1899, 12, 30, 9, 47, 6))
(105294, datetime.datetime(2024, 11, 26, 6, 38, 10), datetime.datetime(1899, 12, 30, 17, 34, 4))
(105293, datetime.datetime(2024, 11, 26, 6, 30, 53), datetime.datetime(1899, 12, 30, 18, 55, 48))
(105292, datetime.datetime(2024, 11, 26, 6, 28, 15), datetime.datetime(1899, 12, 30, 6, 6, 50))
(105291, datetime.datetime(2024, 11, 26, 6, 20, 24), datetime.datetime(1899, 12, 30, 5, 13, 8))
(105290, datetime.datetime(2024, 11, 26, 6, 18, 22), datetime.datetime(1899, 12, 30, 14, 47, 29))
(105289, datetime.datetime(2024, 11, 26, 5, 31, 29), datetime.datetime(1899, 12, 30, 3, 11, 43))
(105288, datetime.datetime(2024, 11, 26, 5, 28, 36), datetime.datetime(1899, 12, 30, 9, 51, 38))
(105287, datetime.datetime(2024, 11, 26, 5, 28, 16), datetime.datetime(1899, 12, 30, 7, 11, 52))
(105286, datetime.datetime(2024, 11, 26, 5, 23, 5), datetime.datetime(1899, 12, 30, 7, 39, 21))
(105285, datetime.datetime(2024, 11, 26, 5, 19, 5), datetime.datetime(1899, 12, 30, 1, 8, 56))
(105284, datetime.datetime(2024, 11, 26, 5, 8, 37), datetime.datetime(1899, 12, 30, 3, 21, 56))
(105283, datetime.datetime(2024, 11, 26, 4, 53, 32), datetime.datetime(1899, 12, 30, 13, 33, 11))
(105282, datetime.datetime(2024, 11, 26, 4, 45, 2), datetime.datetime(1899, 12, 30, 17, 49, 2))
(105281, datetime.datetime(2024, 11, 26, 4, 35, 33), datetime.datetime(1899, 12, 30, 1, 13, 56))
(105280, datetime.datetime(2024, 11, 26, 4, 26, 22), datetime.datetime(1899, 12, 30, 14, 46, 45))
(105279, datetime.datetime(2024, 11, 26, 4, 20, 44), datetime.datetime(1899, 12, 30, 15, 28, 20))
(105278, datetime.datetime(2024, 11, 26, 4, 20, 37), datetime.datetime(1899, 12, 30, 2, 17, 19))
(105277, datetime.datetime(2024, 11, 26, 4, 15, 42), datetime.datetime(1899, 12, 30, 16, 47, 26))
(105276, datetime.datetime(2024, 11, 26, 3, 57, 15), datetime.datetime(1899, 12, 30, 16, 40, 24))
(105275, datetime.datetime(2024, 11, 26, 3, 54, 34), datetime.datetime(1899, 12, 30, 6, 54, 38))
(105274, datetime.datetime(2024, 11, 26, 3, 49, 58), datetime.datetime(1899, 12, 30, 7, 19, 31))
(105273, datetime.datetime(2024, 11, 26, 3, 47, 18), datetime.datetime(1899, 12, 30, 18, 11, 2))
(105272, datetime.datetime(2024, 11, 26, 3, 46, 24), datetime.datetime(1899, 12, 30, 7, 50, 50))
(105271, datetime.datetime(2024, 11, 26, 3, 40, 23), datetime.datetime(1899, 12, 30, 6, 3, 15))
Inserted order detail rows before commit:
(562035, 105370, 117)
(562034, 105370, 123)
(562033, 105370, 117)
(562032, 105370, 105)
(562031, 105370, 117)
(562030, 105369, 113)
(562029, 105369, 110)
(562028, 105369, 123)
(562027, 105369, 116)
(562026, 105369, 128)
(562025, 105369, 124)
(562024, 105369, 121)
(562023, 105369, 113)
(562022, 105368, 126)
(562021, 105368, 121)
(562020, 105368, 104)
(562019, 105368, 103)
(562018, 105367, 126)
(562017, 105367, 109)
(562016, 105367, 105)
(562015, 105367, 120)
(562014, 105366, 114)
(562013, 105365, 105)
(562012, 105365, 111)
(562011, 105365, 117)
(562010, 105365, 131)
(562009, 105365, 126)
(562008, 105364, 111)
(562007, 105364, 105)
(562006, 105364, 127)
(562005, 105364, 125)
(562004, 105364, 123)
(562003, 105364, 102)
(562002, 105364, 106)
(562001, 105364, 131)
(562000, 105363, 111)
(561999, 105363, 121)
(561998, 105363, 122)
(561997, 105362, 120)
(561996, 105362, 120)
(561995, 105362, 115)
(561994, 105361, 112)
(561993, 105361, 102)
(561992, 105361, 129)
(561991, 105361, 113)
(561990, 105361, 112)
(561989, 105361, 116)
(561988, 105361, 131)
(561987, 105361, 106)
(561986, 105360, 128)
(561985, 105360, 132)
(561984, 105360, 118)
(561983, 105360, 129)
(561982, 105360, 102)
(561981, 105360, 112)
(561980, 105360, 121)
(561979, 105360, 117)
(561978, 105359, 101)
(561977, 105359, 106)
(561976, 105359, 112)
(561975, 105359, 117)
(561974, 105359, 110)
(561973, 105359, 118)
(561972, 105359, 129)
(561971, 105359, 123)
(561970, 105358, 112)
(561969, 105358, 103)
(561968, 105357, 118)
(561967, 105357, 126)
(561966, 105357, 129)
(561965, 105357, 104)
(561964, 105357, 115)
(561963, 105357, 123)
(561962, 105357, 127)
(561961, 105357, 132)
(561960, 105357, 114)
(561959, 105356, 104)
(561958, 105356, 131)
(561957, 105356, 125)
(561956, 105356, 121)
(561955, 105356, 129)
(561954, 105356, 116)
(561953, 105356, 113)
(561952, 105355, 121)
(561951, 105355, 128)
(561950, 105355, 118)
(561949, 105355, 124)
(561948, 105355, 104)
(561947, 105355, 132)
(561946, 105355, 125)
(561945, 105355, 127)
(561944, 105355, 117)
(561943, 105354, 131)
(561942, 105354, 115)
(561941, 105353, 116)
(561940, 105353, 104)
(561939, 105353, 124)
(561938, 105353, 105)
(561937, 105353, 103)
(561936, 105353, 104)

In [94]:
cursor.execute("SELECT TOP 10 * FROM orders ORDER BY order_id DESC")  # Adjust the ORDER BY clause as needed
inserted_rows = cursor.fetchall()

    # Display the inserted rows
print("Inserted order rows before commit:")
for row in inserted_rows:
    print(row)

cursor.execute("SELECT TOP 10 * FROM order_details ORDER BY order_details_id DESC")  # Adjust the ORDER BY clause as needed
inserted_rows = cursor.fetchall()

    # Display the inserted rows
print("Inserted order detail rows before commit:")
for row in inserted_rows:
    print(row)

Inserted order rows before commit:
(105370, datetime.datetime(2024, 11, 26, 18, 57, 23), datetime.datetime(1899, 12, 30, 7, 37, 13))
(105369, datetime.datetime(2024, 11, 26, 18, 44, 48), datetime.datetime(1899, 12, 30, 20, 36, 7))
(105368, datetime.datetime(2024, 11, 26, 18, 38, 34), datetime.datetime(1899, 12, 30, 14, 55, 38))
(105367, datetime.datetime(2024, 11, 26, 18, 36, 28), datetime.datetime(1899, 12, 30, 2, 20, 44))
(105366, datetime.datetime(2024, 11, 26, 18, 32, 29), datetime.datetime(1899, 12, 30, 4, 38, 29))
(105365, datetime.datetime(2024, 11, 26, 18, 31, 28), datetime.datetime(1899, 12, 30, 0, 32, 50))
(105364, datetime.datetime(2024, 11, 26, 18, 30, 45), datetime.datetime(1899, 12, 30, 8, 22, 20))
(105363, datetime.datetime(2024, 11, 26, 18, 21, 1), datetime.datetime(1899, 12, 30, 15, 36, 53))
(105362, datetime.datetime(2024, 11, 26, 18, 1, 19), datetime.datetime(1899, 12, 30, 18, 35, 25))
(105361, datetime.datetime(2024, 11, 26, 17, 58, 32), datetime.datetime(1899, 12, 30, 16, 14, 25))
Inserted order detail rows before commit:
(562035, 105370, 117)
(562034, 105370, 123)
(562033, 105370, 117)
(562032, 105370, 105)
(562031, 105370, 117)
(562030, 105369, 113)
(562029, 105369, 110)
(562028, 105369, 123)
(562027, 105369, 116)
(562026, 105369, 128)

In [95]:
# Commit the transaction
db.commit()
print("Transaction committed successfully.")

Transaction committed successfully.

In [96]:
cursor.close()
db.close()